* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  letter-spacing: 0.9px;
  height: 100vh;
  width: 100%;
}

.light-mode {
  --bg-color: #fff;
  --secondary-bg-color: #f4f6fa;
  --primary-color: #7f55da;
  --secondary-color: #ba9cf7;
  --tri-bg-color: #e2eaff;
  --tri-color: #3c4aa3;
  background-color: var(--bg-color);
}

.dark-mode{
  --bg-color: #211e49;
  --secondary-bg-color: #a3a0be;
  --primary-color: #a3a0be;
  --secondary-color: #ba9cf7;
  --tri-bg-color: #a3a0be;
  --tri-color: #3c4aa3;
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

#root {
  width: fit-content;
}

a:-webkit-any-link {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  padding: 10px;
}

/* Width and Height */
.full-width {
  width: 100%;
  min-width: fit-content;
}

.full-height {
  height: 100%;
}

.full-vh {
  height: 100vh;
}

.full-vw {
  width: 100vw;
}

.w-md {
  width: 80px;
}

.w-lg {
  width: 400px;
  max-width: 100%;
}

.w-content {
  width: fit-content;
}

.h-md {
  max-height: 400px;
  overflow-y: auto;
}

.h-lg {
  max-height: 600px;
  overflow-y: auto;
}

.h-xl {
  max-height: 800px;
  overflow-y: auto;
}
/* End of weight and height */

.overflow-x {
  overflow-x: scroll;
}

.overflow-y {
  overflow-y: scroll;
}

.no-overflow {
  overflow: hidden;
}

.border {
  border: solid 1px red;
}

.grey-border {
  border: var(--tri-bg-color) 3px solid;
  border-radius: 20px;
}

/* Padding */
.p-none {
  padding: 0;
}

.p-sm {
  padding: 4px;
}

.p-md {
  padding: 10px;
}
.p-lg {
  padding: 20px;
}

.p-l-md {
  padding-left: 10px;
}

.p-right-md {
  padding-right: 10px;
}

.p-top-md {
  padding-top: 10px;
}

.p-top-lg {
  padding-top: 20px;
}

.p-b-lg {
  padding-bottom: 20px;
}
/* End of padding */

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.gap-md {
  gap: 10px;
}

.gap-lg {
  gap: 20px;
}

.gap-xl {
  gap: 100px;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.stretch-self {
  align-self: stretch;
}

.children-equal-flex > * {
  flex: 1 1 0;
}
/* End of flex */

/* Margin */
.margin-top-md {
  margin-top: 100px;
}

.m-right-lg {
  margin-right: 25px;
}
/* End of Margin */

/* Table css */
table,
th,
td {
  padding: 20px;
}

caption {
  caption-side: top;
  color: var(--primary-color);
}

table {
  width: 100%;
  width: max-content;
  border-collapse: collapse;
  background-color: var(--secondary-bg-color);
  border-radius: 15px;
  position: relative;
}

tr {
  padding: 10px;
  border-bottom: 3px solid var(--bg-color);
}
th,
td {
  text-align: left;
  /* border-right: 1px #ccc solid; */
}
/* End of table css */

/* Radio css */
input[type="radio"]:checked {
  background-color: pink;
}

/* End of Radio CSS */

/* Input  */
input,
fieldset,
select,
textarea {
  border: 2px solid var(--secondary-bg-color);
  padding: 5px;
  border-radius: 10px;
  outline: none;
}

input[type="text"]:focus,
textarea:focus {
  /* //outline: solid 2px #ba9cf7; */
  outline: var(--secondary-color) solid 2px;
}
/*  */
/* ETC */
textarea {
  resize: none;
}

/* button css */
button,
.button {
  padding: 10px;
  background-color: inherit;
  border-radius: 5px;
  color: inherit;
  border: none;
  transition: 0.5s;
}

a {
  transition: 0.5s;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
}

button:hover,
a:hover {
  transform: scale(1.03);
  cursor: pointer;
}

button:disabled {
  background-color: var(--secondary-bg-color);
  color: black;
  opacity: 0.6;
}

.button-primary {
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
}

.button-secondary {
  color: #3c4aa3;
  background-color: #e2eaff;
}

.button-ghost {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Background css */
.primary-bg {
  background-color: var(--primary-color);
}

.background-bg {
  background-color: var(--bg-color);
}
/*end of background*/

/* Color */
.primary {
  color: var(--primary-color);
}
/* Color */

/* Chart div */
.chart {
  width: 300px;
  aspect-ratio: 1;
  max-width: 90vw;
  border: 5px solid var(--secondary-bg-color);
  border-radius: 20px;
  overflow: hidden;
}
/* End of chart div */

/* end of button css */
.desktop-display {
  display: flex;
  width: 100vw;
}

.desktop .right {
  flex-basis: 1 1 0;
  flex: 80%;
  height: 100vh;
  overflow-y: scroll;
}

.desktop-nav {
  border-right: 3px solid var(--secondary-bg-color);
  color: black;
  padding: 10px;
  flex: 10%;
}

.mobile-display {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.mobile-nav {
  border-bottom: 3px solid var(--secondary-bg-color);
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.mobile-display .bottom {
  flex: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Comments */
.comments {
  display: grid;
  grid-template-areas:
    "heading"
    "comments"
    "input";
  height: 700px;
  border: solid 3px var(--secondary-bg-color);
  border-radius: 10px;
}

.message-heading {
  grid-area: heading;
  border-bottom: solid 3px var(--secondary-bg-color);
}

.message-input {
  grid-area: input;
  border-top: 3px solid var(--secondary-bg-color);
}

.message-input input {
  border: none;
}

.message {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  gap: 5px;
}

.messageImg {
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-top: 20px;
}

.messageText {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--tri-bg-color);
  color: #3c4aa3;
  overflow-wrap: break-word;
  max-width: 250px;
}

.messageBottom {
  font-size: 12px;
  margin-right: 10px;
}

.message.own {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.message.own .messageText {
  color: black;
  background-color: var(--secondary-bg-color);
}

/* create-project */
.create-project {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header . . ."
    "title title submit submit"
    "info info description description"
    "available available selected selected";
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.create-project .title {
  grid-area: title;
}

.create-project .info {
  grid-area: info;
}

.create-project .submit {
  grid-area: submit;
}

.create-project .description {
  grid-area: description;
}

.create-project .available {
  grid-area: available;
}

.create-project .selected {
  grid-area: selected;
}
/* End of create project */

/* bug  */
.bug-page {
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
/* End of bug */

/* manage users page */
.manage-users,
.manage-members {
  display: grid;
  gap: 10px;
  padding-right: 20px;
  grid-template-areas:
    "header ."
    "search  submit"
    "available selected";
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.manage-users .header,
.manage-members .header {
  grid-area: header;
}

.manage-users .search,
.manage-members .search {
  grid-area: search;
}

.manage-users .submit,
.manage-members .submit {
  grid-area: submit;
}

.manage-users .available,
.manage-members .available {
  grid-area: available;
  height: 600px;
}

.manage-users .selected,
.manage-members .selected {
  grid-area: selected;
  height: 600px;
}
/* End of manage users page */

/* Modal styling */
.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w*/
  padding: 10px;
  z-index: 100;
}

.modal-content {
  /* background-color: var(--light-bg-color); */
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 95vw;
  height: 95vh;
  border-radius: 0.3rem;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  /* top: 50%;
  left: 50%; */
}
/*  */

/* Switch css */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of Toggle Switch */

/* responsive */
@media screen and (min-width: 800px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .desktop {
    display: flex;
    display: none;
  }
  .mobile {
    display: flex;
  }
  .mobile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .manage-users,
  .manage-members,
  .create-project {
    padding-right: unset;
    padding: 10px;
    overflow-x: auto;
  }
  .manage-users .selected,
  .manage-members .selected,
  .create-project .selected,
  .manage-users .available,
  .manage-members .available,
  .create-project .available {
    height: fit-content;
    max-height: 600px;
  }
  .bug-page,
  .page {
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
    text-align: center;
  }
}
