@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Rokkitt:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  letter-spacing: 0.9px;
  height: 100vh;
  width: 100%;
  font-family: "Raleway", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkit", "serif";
}

.light-mode {
  --bg-color: #f4f6fa;
  --secondary-bg-color: #fff;
  --primary-color: #6e62e5;
  --primary-submit: #fff;
  --secondary-color: #3c4aa3;
  --tri-bg-color: #e2eaff;
  --tri-color: #3c4aa3;
  --urg-bg-color: #f9e8e8;
  --urg-color: #d53a3a;
  --bg-4: #7f55da;
  --bg-5: #5594da;
  --bg-6: #9555da;
  --bg-7: #3c6899;
  background-color: var(--bg-color);
  --font-color: #000;
  color: var(--font-color);
}

.dark-mode {
  --bg-color: #0f1014;
  --primary-submit: #fff;
  --primary-color: #8495f8;
  --secondary-bg-color: #17181c;
  --secondary-color: #ba9cf7;
  --tri-bg-color: #292b31;
  --tri-color: #bbb0f1;
  --urg-bg-color: #f9e8e8;
  --urg-color: #d53a3a;
  --bg-4: #7f55da;
  --bg-5: #5594da;
  --bg-6: #9555da;
  --bg-7: #3c6899;
  background-color: var(--bg-color);
  --font-color: #fff;
  color: var(--font-color);
}

html {
  scroll-behavior: smooth;
}

#root {
  width: fit-content;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

a:-webkit-any-link {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-bg-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 7px;
  border: 4px solid var(--secondary-bg-color);
}

/* Width and Height */
.full-width {
  width: 100%;
  min-width: fit-content;
}

.mobile-full-width {
  width: 100%;
}

.only-full-width {
  max-width: 100%;
  width: 100%;
}

.only-full-height {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.only-60-width {
  max-width: 60%;
}

.full-height {
  height: 100%;
}

.full-vh {
  height: 100vh;
}

.h-xs {
  min-height: 50px;
}

.full-vw {
  width: 100vw;
}

.w-md {
  width: 80px;
}

.w-lg {
  width: 400px;
  max-width: 100%;
}

.max-w-lg {
  max-width: 600px;
}

.max-w-xl {
  /* max-width: 1600px; */
}

.w-content {
  width: fit-content;
}

.h-sm {
  height: 200px;
}

.h-md {
  max-height: 400px;
  overflow-y: auto;
}

.h-lg {
  max-height: 600px;
  overflow-y: auto;
}

.h-xl {
  max-height: 800px;
  overflow-y: auto;
}
/* End of weight and height */

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.no-overflow {
  overflow: hidden;
}

.border {
  border: solid 1px red;
}

.primary-border {
  border: 2px solid var(--secondary-bg-color);
}

.chart-border {
  border: 2px solid var(--bg-4);
}

.border-bottom {
  border-bottom: 5px solid var(--primary-color);
}

.grey-border {
  border: var(--tri-bg-color) 3px solid;
  border-radius: 20px;
}

.b-radius {
  border-radius: 15px;
  padding: 10px;
}

.b-radius-sm {
  border-radius: 3px;
}

.text-align {
  text-align: center;
}
.bold {
  font-weight: bold;
}

.error {
  border: 1px solid var(--urg-color);
  background-color: var(--secondary-bg-color);
  color: var(--urg-color);
  padding: 10px;
  border-radius: 10px;
}
/* Padding */
#p-none,
.p-none {
  padding: 0;
}

.p-sm {
  padding: 4px;
}

.p-md {
  padding: 10px;
}
.p-lg {
  padding: 20px;
}

.p-l-md {
  padding-left: 10px;
}

.p-md-hz {
  padding-left: 10px;
  padding-right: 10px;
}

.p-md-v {
}

.p-l-lg {
  padding-left: 20px;
}

.p-r-md {
  padding-right: 10px;
}

.p-top-md {
  padding-top: 10px;
}

.p-top-lg {
  padding-top: 20px;
}

.p-b-lg {
  padding-bottom: 20px;
}
/* End of padding */

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.gap-0 {
  gap: 0;
}
.gap-md {
  gap: 10px;
}

.gap-lg {
  gap: 20px;
}

.gap-xl {
  gap: 100px;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-self {
  align-self: center;
}

.stretch-self {
  align-self: stretch;
}

.grow {
  flex-grow: 1;
}

.children-equal-flex > * {
  flex: 1 1 0;
}
/* End of flex */

/* Margin */
.margin-top-md {
  margin-top: 100px;
}

.m-right-lg {
  margin-right: 25px;
}
/* End of Margin */

/* Table css */
table,
th,
td,
.nodata {
  padding: 20px;
}

caption,
.caption {
  caption-side: top;
  color: var(--tri-color);
  padding: 10px;
  font-style: italic;
}

table,
.nodata {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--secondary-bg-color);
  border-radius: 15px;
  position: relative;
}

tr {
  padding: 10px;
  border-bottom: 4px solid var(--bg-color);
}
th,
td {
  text-align: left;
}

th,
td {
  border-right: 2px solid var(--bg-color);
}

th {
  color: var(--secondary-color);
}
/* End of table css */

/* Radio css */
/* input[type="radio"]:checked {
  background-color: pink;
} */

/* End of Radio CSS */

/* Input  */
input,
fieldset,
select,
option,
.option,
.option-modal,
.select-modal,
textarea {
  border: 2px solid var(--secondary-bg-color);
  padding: 8px;
  border-radius: 10px;
  outline: none;
  margin: 2px;
  background-color: var(--secondary-bg-color);
  color: inherit;
}

.dark-mode input {
  color-scheme: dark;
}

.select-modal {
  background-color: var(--bg-color);
}

.option-modal {
  background-color: var(--bg-color);
}

option,
.option {
  margin: 4px;
  cursor: pointer;
}

select[multiple]:focus option:checked,
.selected {
  background: var(--primary-color)
    linear-gradient(0deg, var(--primary-color) 0%, var(--primary-color) 100%);
  color: #fff;
}

.selected:hover {
  cursor: pointer;
}

input[type="text"]:focus,
textarea:focus {
  /* //outline: solid 2px #ba9cf7; */
  outline: var(--primary-color) solid 2px;
}

.no-outline:focus,
.no-outline {
  outline: none;
  border: none;
}

/*  */
/* ETC */
textarea {
  resize: none;
}

/* button css */
button,
.button {
  padding: 10px;
  background-color: inherit;
  border-radius: 5px;
  color: var(--font-color);
  border: none;
  transition: 0.5s;
  font-weight: bold;
}

a,
.a {
  transition: 0.5s;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
  font-weight: bold;
}

button:not(.password-view):hover,
.a:hover,
a:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  padding: 10px;
}

button:disabled {
  opacity: 0.4;
}

.button-primary {
  color: var(--primary-submit);
  background-color: var(--primary-color);
}

.button-secondary {
  color: var(--primary-color);
  background-color: var(--tri-bg-color);
}

.button-ghost {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button-delete {
  color: var(--urg-color);
  background-color: var(--secondary-bg-color);
}

.button-urgent {
  background-color: var(--urg-color);
  color: #fff;
}

button:disabled:hover {
  cursor: not-allowed;
  transform: unset;
}

.password-view:hover {
  cursor: pointer;
}

/* End of button css */
/* Background css */
.primary-bg {
  background-color: var(--primary-color);
}

.white-bg {
  background-color: #fff;
}

.font-bg {
  background-color: var(--font-color);
}

.background-bg {
  background-color: var(--bg-color);
}

.secondary-bg {
  background-color: var(--secondary-bg-color);
}

.bg-4 {
  background-color: var(--bg-4);
  color: white;
}

.bg-5 {
  background-color: var(--bg-5);
  color: white;
}

.bg-6 {
  background-color: var(--bg-6);
  color: white;
}

/*end of background*/

/* Color */
.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--tri-color);
}

.font-color {
  color: var(--font-color);
}

.primary-glow {
  color: transparent;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--tri-color),
    var(--tri-bg-color),
    var(--primary-color),
    var(--primary-submit),
    var(--primary-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: glow 8s linear infinite;
  background-size: 400% 400%;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
/* Color */

/* Chart div */
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-grow: 1;
}

.chart {
  height: 250px;
  aspect-ratio: 1;
  border: 3px solid var(--secondary-bg-color);
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.chart-header {
  color: var(--primary-color);
  align-self: center;
}
/* End of chart div */

/* end of button css */
.desktop-display {
  display: flex;
  width: 100vw;
  position: relative;
}

.desktop .right {
  flex: 80%;
  height: 100vh;
  overflow-y: scroll;
}

.right {
  max-width: 2000px;
}

.desktop-nav {
  border-right: 3px solid var(--secondary-bg-color);
  color: black;
  padding: 10px;
  flex: 10%;
  max-width: 300px;
}

/* .desktop-nav div{
  align-items: flex-end;
} */

#mobile-display {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: sticky;
  background-color: var(--bg-color);
}

.open-mobile-nav {
  border-bottom: 3px solid var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  justify-content: flex-end;
}

.open-mobile-nav:hover {
  cursor: pointer;
}

.mobile-display .bottom {
  flex-basis: 1 1 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.mobile-nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: var(--bg-color);
  padding: 10px;
  padding-top: 30px;
}

.mobile-nav a {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mobile-nav button {
  top: 10px;
  position: absolute;
  right: 5px;
  padding: 8px;
}

/* Comments */
.comments-section {
  display: grid;
  grid-template-areas:
    "heading"
    "comments"
    "comments"
    "comments"
    "comments"
    "comments"
    "input";
  height: 700px;
  border: solid 3px var(--secondary-bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.comments {
  grid-area: comments;
  min-height: 600px;
  overflow-y: auto;
}

.message-heading {
  grid-area: heading;
  border-bottom: solid 3px var(--secondary-bg-color);
}

.message-input {
  grid-area: input;
  border-top: 3px solid var(--secondary-bg-color);
}

.message-input input {
  border: none;
}

.message {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  gap: 5px;
}

.messageImg {
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-top: 20px;
}

.messageText {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #fff;
  overflow-wrap: break-word;
  max-width: 250px;
}

.messageBottom {
  font-size: 12px;
  margin-right: 10px;
}

.message.own {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.message.own .messageText {
  color: var(--font-color);
  background-color: var(--secondary-bg-color);
}

.page,
main {
  width: 100%;
  background-color: var(--bg-color);
  height: fit-content;
}

/* bug  */
.bug-page {
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
/* End of bug */

.manage-members {
  display: grid;
  gap: 10px;
  padding-right: 20px;
  grid-template-areas:
    "header ."
    "search  submit"
    "available selected";
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.manage-members .header {
  grid-area: header;
}

.manage-members .search {
  grid-area: search;
}

.manage-members .submit {
  grid-area: submit;
}

.manage-members .available {
  grid-area: available;
  height: 600px;
}

.manage-members .selected {
  grid-area: selected;
  height: 600px;
}
/* End of manage users page */

.cover {
  padding: 50px;
  border-radius: 20px;
  width: 800px;
  max-width: 100%;
  background-color: var(--bg-color);
}

/* Modal styling */
.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w*/
  padding: 10px;
  z-index: 5;
}

.modal-content {
  /* background-color: var(--light-bg-color); */
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 97vw;
  height: 99vh;
  border-radius: 0.3rem;
  overflow-y: auto;
  position: fixed;
  overflow-x: hidden;
  /* top: 50%;
  left: 50%; */
}
/*  */

.noti {
  position: absolute;
  top: 8px;
  width: 20%;
  background-color: var(--tri-bg-color);
  color: var(--tri-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  right: 10px;
  border-radius: 10px;
  z-index: 6;
}

.noti button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}

/* Switch css */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  -webkit-transition: 0.4s;
  transition: 1s;
  padding: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of Toggle Switch */

svg {
  fill: var(--font-color);
  transition: 1s;
  color: var(--font-color);
}

form svg {
  fill: var(--font-color);
}

.mobile-text-align {
  text-align: center;
}

.loader {
  padding: 5px;
  border: 7px solid var(--tri-bg-color);
  border-radius: 50%;
  border-top: 7px solid var(--primary-color);
  width: 50px;
  aspect-ratio: 1;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive */
@media screen and (min-width: 800px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .mobile-text-align {
    text-align: left;
  }
  #mobile-display {
    display: none;
  }
  .mobile-full-width {
    width: fit-content;
  }
}

@media screen and (max-width: 800px) {
  .desktop {
    display: flex;
    display: none;
  }
  .mobile {
    display: flex;
  }

  .mobile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: unset;
  }
  .bug-page,
  .page {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .noti {
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
    height: 10%;
    position: sticky;
  }
  .noti button {
    transform: scale(0.8);
    top: 0.5px;
    right: 0.5px;
    padding: 6px;
  }
  .mobile-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .mobile-justify-right {
    justify-content: flex-end;
  }
}
