Load it with better seed data
Redesign
    Bug Page
    Loading Screen
    Edit dashboard layout
More features
    New roles
    Financials
        Dashboard to see financial of project
    Project portal
        Users can sign up and create projects
        Projects can be negotiated and assigned
        Current status of project in pre-start process


***Reference***
https://www.youtube.com/watch?v=PYxLwn-Kk2U&t=6s - ticket tracker project

***Miscellaneous***
add tags to tickets

***Styling***
project timeline/dashboard layout

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
config/.env
.env
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*